body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2589fa;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.75s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text {
    font-family: "Oleo Script";
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    font-family: "Oleo Script";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 5px;
    /* optional: adds some space between the buttons */
}

.btn {
    font-family: "Oleo Script";
    background-color: #0073c4;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #12c0ff;
    color: white;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}